.content {
    max-width: 590px;
    grid-area: content;
    height: 82vh;
    align-items: center;
    background-color: rgba(65, 70, 78, 0.7);
    margin: 5px;
    border-radius: 5px;
    overflow: auto;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "post" "newpost";
    align-items: end;
}



.newPost {
}

input {
    width: 70%;
    height: 160%;
    background-color: rgba(89, 92, 93, 0.6);
    /*margin: 0 10px;*/
}

button {
    height: 180%;
    margin: 0 10px;
    background-color: rgba(89, 92, 93, 0.6);
    color: rgba(127, 221, 246, 1);
}
