.content {
    grid-area: content;
    height: 82vh;
    align-items: center;
    /*background-color: rgba(65, 70, 78, 0.09);*/
    margin: 5px;
    border-radius: 5px;
    overflow: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "post" "newpost";
    justify-items: center;
}



.newPost {
    width: 100%;
    margin: 10px 10px;
    display: grid;
    grid-template-areas: "input button";
    grid-template-columns: 7fr 3fr;
    justify-content: space-around;
    align-items: center;
}

.input {
    grid-area:input ;
    width: 70%;
    height: 160%;
    background-color: rgba(89, 92, 93, 0.6);
    margin: 0 10px;
}

.button {
    grid-area:button ;
    height: 180%;
    margin: 0 10px;
    color: rgba(127, 221, 246, 1);
    justify-items: center;
    align-items: center;
}
button{
    justify-items: center;
}

