.postText {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.likes {
    text-align: end;
    font-size: 20px;
    margin: 0 10px;
}

.post {
    word-wrap: break-word;
    width: 580px;
    color: whitesmoke;
    font-size: 40px;
    margin: 10px;
    background-color: rgba(127, 221, 246, 0.2);
    border-radius: 5px;
}
