.content {
    grid-area: content;
    height: 82vh;
    align-items: center;
    background-color: rgba(65, 70, 78, 0.7);
    margin: 5px;
    border-radius: 5px;
    color:white;
}
.pages{
    height: 10%;
    overflow: auto;
}
.users{
    height: 90%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.u{
    color: black;
    background-color: rgba(253, 254, 255, 0.69);
    width: 25%;
    margin: 5px 5px;
    border-radius: 10px;
}

.newPost {
    width: 100%;
    margin: 10px 10px;
    display: grid;
    grid-template-areas: "input button";
    grid-template-columns: 7fr 3fr;
    justify-content: space-around;
    align-items: center;
}

.input {
    grid-area:input ;
    width: 70%;
    height: 160%;
    background-color: rgba(89, 92, 93, 0.6);
    margin: 0 10px;
}

.button {
    grid-area:button ;
    height: 180%;
    margin: 0 10px;
    background-color: rgba(89, 92, 93, 0.29);
    color: rgba(127, 221, 246, 1);
    justify-items: center;
    align-items: center;
}
button{
    justify-items: center;
}
img{
    height: 90px;
    width: 100px;
}
