.formControl.error input,
.formControl.error textarea {
    border: 2px #638AED solid;
}

.formControl.error span {
    color: white;
    font-weight: bold;
}

.formSummaryError {
    border: 2px red solid;
    padding: 5px;
    color: white;
}