.content {
    overflow: auto;
    height: 15%;
    margin: 5px 5px;
    border-radius: 5px;
    background-color: rgba(223, 228, 231, 0.5);
    display: grid;
    grid-template-areas: "image name";
    grid-template-columns: 1fr 5fr;
    justify-items: center;
    align-items: center;
}

.image {
    grid-area: image;
    width: 100%;
    height: 70%;
    border-radius: 5px;
}

.name {
    grid-area: name;
    font-size: 40px;
}
