.header {
    grid-area: header;
    height: 7vh;
    align-items: start;
}

.content {
    background-color: #6389ED;
    height: 6vh;
    margin: 5px 5px 0 5px;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-items: start;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}

.loginBlock {
    float: right;
}