* {
    text-decoration: none;
}

.footer {
    grid-area: footer;
    height: 10vh;
    align-items: end;
    width: 88vh;
    position: absolute;
    left: auto;
    bottom: 0;
}

.content {
    background-color: #6389ED;
    height: 8.5vh;
    margin: 0 5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "news posts messages profile settings";
    align-items: start;
    justify-items: center;
    color: white;
    font-size: 30px;
}

.news {
    grid-area: news;
}

.posts {
    grid-area: posts;
}

.messages {
    grid-area: messages;
}

.profile {
    grid-area: profile;
}

.settings {
    grid-area: settings;
}

a {
    color: white;
    width: 100%;

}

.active {
    font-size: 35px;
    color: whitesmoke;
    font-weight: bold;
}